html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;
  }
}

@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }
}

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav div {
  display: flex;
  align-items: center;
}

div.mobile {
  display: none;
}

@media only screen and (max-width: 620px) {
  .menu {
    display: none;
  }

  div.mobile {
    display: flex;
  }

  nav span {
    display: none;
  }
}

nav img {
  height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-banner {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}

@media only screen and (max-width: 960px) {
  .main-banner {
    font-size: 1.33rem;
    line-height: 1.2;
    font-weight: bold;
    background-color: white;
    padding: 0.75rem 4rem;
    display: inline-block;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 620px) {
  .main-banner {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
    background-color: white;
    padding: 1rem;
    display: inline-block;
    margin: 9rem auto;
    width: 100%
  }
}

div.container {
  display: flex;
  justify-content: flex-end;
}

.flexbox {
  display: flex;
  height: 8rem;
  margin: 3rem auto;
  align-items: flex-start;
  justify-content: center;
}

.pairs {
  display: flex;
  justify-content: center;
  text-align: center;
}

.exam, .fitting, .delivery {
  padding-left: 3rem;
  padding-right: 3rem;
}

.flexbox span {
  align-items: flex-end;
}

.exam img {
  width: 3.5rem;
}

.fitting img, .delivery img {
  width: 5rem;
}

.title {
  background-color: cadetblue;
  width: 10rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.information {
  width: 35%;
  margin: 0 2.5%;
}

div.supporting.container {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 5rem;

}

footer.container {
  background-color: azure;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
